body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pricing-card-title{
    font-size: 3rem;
}
li{
    font-size: 1.3rem;
}
.lead{
    font-size: 1.8rem;
}
